<html>

<body>

<!-- Header Temporary -->
<div class = "header">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <a class="navbar-brand" href="#">Rece.ss</a>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><%= link_to "Sign in", "/auth/khan_academy" %></li>
      </ul>
  </nav>
</div>
<div class = "video">
  <video autoplay loop poster="/assets/recess-intro.jpg" id="bgvid">
    <source src="/aassets/recess-intro.webm" type="video/webm">
    <source src="/aassets/recess-intro.mp4" type="video/mp4">
  </video>
</div>
<!-- <div class = "indexbody">
  <form>
  <div class="login-form">
    <div class="page-header">
      <h3>Parent's Login Here:</h3>
    </div>
    <input type="email" placeholder="Email">
    <input type="submit" value="Sign in">
  </div>
  </form>
</div> -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Setting Up</h4>
      </div>
      <div class="modal-body">
        Congratulations for taking the first step towards your improving your child's future. Our mission at Rece.ss is to make sure that your child gets the most of out of their daily use of their computer. By partnering up with Khan Academy and our own powerful Chrome Extension, we give you the peace of mind that your child is learning while also enjoying themselves. If you want to take the next step on your journey, click Proceed to begin login process.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="/auth/khan_academy" class="btn btn-primary btn-lg active" role="button">Proceed</a>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="jumbotron">
      <h1>Welcome to <div class = "title">Rece.ss</div></h1>
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Get Started</button>
    </div>
  </nav>
</div>

<script type="text/javascript">
  var rumbleBannerBackgroundColor, rumbleBannerTextColor, rumbleBannerLinkColor, rumbleBannerPlacement;
  rumbleBannerBackgroundColor = "#161616";
  rumbleBannerTextColor = "#b0b0b0";
  rumbleBannerLinkColor = "#ffffff";
  rumbleBannerPlacement = "bottom"; // Optionally replace with "bottom".
</script>
<script src="https://d4nnn7wspfa3h.cloudfront.net/banner-2014.js" type="text/javascript"></script>

</body>
</html>
