<!-- Header Temporary -->

<div class = "header">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <a class="navbar-brand" href="#">Rece.ss</a>
    <div class="hcontainer">
      <% if current_user %>
        Welcome, <%= current_user.name %>!
        <%= link_to "Sign Out", signout_path %>
      <% else %>
        <%= link_to "Sign in", "/auth/khan_academy" %>
      <% end %>
    </div>
  </nav>
</div>




<div class = "video">
  <video autoplay loop poster="/assets/recess-intro.jpg" id="bgvid">
    <source src="/assets/recess-intro.webm" type="video/webm">
    <source src="/assets/recess-intro.mp4" type="video/mp4">
  </video>
</div>

<div class = "indexbody">
<form>
<div class="login-form">
  <div class="page-header">
    <h3>Welcome to Rece.ss!</h3>
    <h3>Parent's Login Here:</h3>
  </div>
  <input type="email" placeholder="Email">
  <input type="submit" value="Sign in">
</div>
</form>

</div>



<!-- Footer Temporary -->
<div class="footer">
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    TEMP FOOTER
  </div>
</nav>
</div>
